/* *{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; } */

 body{
  background: url('../img/first_aid_kit.png') 0 0 repeat !important;
  padding-top:40px;
}

.page_container {
  width: 1000px;
  margin: 0 auto;
  padding_bottom: 60px;
}
.label{
  cursor: default;
}
h2,h3, h4{
  font-family: 'Bitter', serif;
}
h3{
  text-align: center;
}

.container{
  padding: 10px 0;
}

/* Plans */
.plans{
  list-style: none;
  /*border-bottom: 1px #323 dashed;*/
  margin: 0 0 30px 0;
  padding-bottom: 15px;
}
.plan{
  padding: 0px 10px;
  margin: 0 10px;
  background: rgba(250, 250, 250, 0.5);
  border-radius: 10px;
  vertical-align: middle;
}
.plan i{
  font-size: 20px;
  background: none;
}
.plan ul{
  list-style: none;
}
.plan ul li{
  line-height: 2em;
  font-size: 1.2em;
}
.plan form{
  text-align: center;
}
.plan .badges-logos li{
  line-height: 5em;
  margin: 0 5px;
}

.tech-badge{
  text-align: center;
}

/* Parceiros */
#parceiros h3{
  text-align: center;
}
#parceiros img{
  width: 60%;
}
#parceiros ul{
  list-style: none;
  margin: 0 auto;
}
#parceiros ul li{
  /*width: 260px;*/
  text-align: center;
}
#parceiros ul li a{
  text-decoration: none;
  color: #444;
}
#parceiros ul li a:hover{
  /*color: #f69220;*/
}
#parceiros ul li a label{
  background-color: #e5e5e5;
  border-bottom: 2px solid #aaa;
  margin-top: 10px;
  text-align: center;
  border-top: 2px solid #aaa;
}
#parceiros ul li a label:hover, #parceiros ul li a:hover label{
  border-top: 2px solid #f69220;
  border-bottom: 2px solid #f69220;
}

/* Fim Parceiros */
.profiles {
  height: 450px;
}
.profiles .btn {
  height: 430px;
  margin: 0 5px 0 0;
}

.mupi-navbar {
  height: 40px;
}
.not_logged_header .menu{
  line-height: 40px;
}
.logo {
  margin-top: 3px;
}
.logo_about{
  height: auto;
  margin: 25px auto;
  text-align: center;
  width: 250px;
}

.escola{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
  padding-top: 20px;
}

#participe{
  padding: 10px 0;
  /*height: auto;*/
}

.field{
  float: left;
}
.not_logged_header .input, .not_logged_header .participe, .tel {
  text-align: center;
  line-height: 40px;
}
#subscribe{
  text-align: center;
}

.tel a:hover{
  color:  #08C;
}

.not_logged_header .participe a{
 padding: 0;
}

.btn-facebook {
  color: #ffffff;
  background-color: #3b5998;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#627aad), to(#3b5998));
  background-image: -moz-linear-gradient(top, #627aad, #3b5998);
  background-image: -ms-linear-gradient(top, #627aad, #3b5998);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #627aad), color-stop(100%, #3b5998));
  background-image: -webkit-linear-gradient(top, #627aad, #3b5998);
  background-image: -o-linear-gradient(top, #627aad, #3b5998);
  background-image: linear-gradient(top, #627aad, #3b5998);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#627aad', endColorstr='#3b5998', GradientType=0);
  border-color: #3b5998 #3b5998 #263961;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  text-shadow: none !important;
}

.btn-facebook:hover {
  background-position: 0px 30px;
  background-image: none;
  color: #333;
  text-decoration: none;
}

.btn i{
  vertical-align: top;
}
.btn-large {
  padding: 5px 12px;
  font-size: 0.9em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.share-buttons{
  text-align:center;
  margin-top: 30px;
}
.share-buttons a{
  display: inline-block;
  width: 210px;
  margin-bottom: 5px;
  margin-right: 20px;
}
.price{
  text-align: center;
  font-weight: bold;
}

.crowdcrowding{
  background-color: rgba(256,256,256,0.4);
  padding: 10px;
  text-align: center;
}
.crowdcrowding p{
  text-align: left;
}
.crowdcrowding .progress{
  width: 90%;
  margin: 0 auto;
}
.plan a{
  text-align: center;
}

#messages{
  display: none;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
}



/*header*/
.logo {
  background: url("../img/logomini.png") no-repeat scroll 0 0 transparent;
  display: block;
  float: right;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  margin-top: 5px;
}
.mupi-navbar {
  background-color: #332213;
  box-shadow: 0 0 2px 2px #444;
  height: 40px;
}
#content {
  padding-top: 10px;
}
.not_logged_header {
  text-align: right;
  line-height: 40px;
}
.not_logged_header a {
  color: white;
  padding: 0 15px;
}
.not_logged_header a:hover {
  text-decoration: none;
  color: #08C;
}
#login_header_but {
  border-right: 1px solid white;
  border-left: 1px solid white;
}
.alert {
  margin-top: 40px !important;
}



/* About */
.profile {
  float: left;
  width: 165px;
  margin: 0 10px;
}
.profile_img {
  width: 120px;
  height: 120px;
  border-radius: 80px;
  margin: 0 auto;
  border: 5px solid #f16623;
  overflow: hidden;
}
.profile_img img {
  max-width: none;
  height: 100%;
}
.profile_body {
  margin: 10px 0;
  background: rgba(256, 256, 256, 0.6);
  padding: 5px;
  height: 190px;
  border: 1px solid #CCC;
}
.about_sidebar {
  width: 25%;
  float: left;
}
.about_body {
  width: 740px;
  padding: 20px;
  float: left;
}
.profile_body {
  font-size: 0.8em;
}
.profile_body span {
  font-weight: bold;
}
.div_about {
  background: rgba(256, 256, 256, 0.4);
  width: 100%;
  border-bottom: 1px dashed #CCC;
}


/*footer*/
footer[role="contentinfo"]{
  color:#666;
  background:#f5f5f5;
  padding:0;
  clear:both;
  position:relative;
  margin: 0;
}
.social{
  text-align: center;
  padding: 8px 0 0;
}
/*.social li{
  height: 32px;
  width: 32px;
  overflow: hidden;
  margin: 0;
}*/

.fb, .ln, .tw {
  background-image: url('../img/social.png');
  width: 32px;
  height: 32px;
  display: block;
}

.fb {
  background-position: 0 65px;
}
.ln {
  background-position: 0 97px;
}
.tw {
  background-position: 0 196px;
}
.fb:hover {
  background-position: 0 33px;
}
.ln:hover {
  background-position: 0 130px;
}
.tw:hover {
  background-position: 0 163px;
}




/* Poll */
.mc_embed_signup{
  position: relative;
  margin-right: 5px;
}

.next-courses{
  margin: 15px 0;
}
.next-course{
  border-radius: 5px;
  background-color: rgba(220, 220, 220, 0.4);
  position: relative;
  box-shadow: 0 0 6px #DDD;
  border: dashed 1px #CCC;
}
.next-course .img{
  float: left;
  width: 80px;
  height: 80px;
}
.next-course img{
  max-width: 80px;
  max-height: 80px;
}
.next-course .descr{
  margin-left: 90px;
}

.next-course .actions{
  text-align: center;
  margin: 2px 0 6px;
}

.next-course .btn{
  font-size: 1em;
  width: 60%;
  padding: 4px 0;
}
.next-course .btn.info{
  margin-right: 90px;
}

.mc-field-group{

}

.mc_embed_signup form{
  display: none;
  position: absolute;
  width: 110%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  left: -5%;
  height: 50px;
}

.mc_embed_signup form i{
  position: absolute;
  right: 6px;
  top: 14px;
  font-size: 22px;
  color:rgba(220, 90, 100, 1);
  text-shadow: 0px 0px 2px #a00;
  cursor: pointer;
}
.mc_embed_signup form input[type="email"]{
  font-size: 1em;
  position: absolute;
  top: 10px;
  left: 5px;
  width: 55%;
}

.mc_embed_signup input[type="submit"] {
  font-size: 1em;
  right: 30px;
  top: 10px;
  position: absolute;
  border-radius: 5px;
}

.mce_inline_error, label.error{
  background: rgba(220, 90, 100, 1);
  padding: 5px 0;
}
.mce-responses, .mce_inline_error, label.error{
  position: fixed;
  top: 40px;
  right: 0px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #000;
  z-index: 3;
}

.mce-responses a, .mce-responses a:hover{
  color: #335;
}

.mce-responses>.mce-success-response{
  background: rgba(90, 220, 100, 1);
  padding: 5px 0;
  z-index: 2;
}
.mce-responses>.mce-error-response{
  background: rgba(220, 90, 100, 1);
  padding: 5px 0;
  z-index: 5000;
}